@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
}

body {
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

a {
  color: #E0E0E0;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
}

button {
  padding: 20px 30px;
  color: #cacaca;
  font-size: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: none;
}

@media (max-width: 440px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 1200px;
  top: 25px;
  font-size: 12.5px;
  line-height: 16.5px;
  font-weight: 400;
  right: 20px;
  left: 20px;
}

.header-icon {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 90px;
}

.header-menu {
  display: flex;
  gap: 24px;
  margin-right: 451px;
}

.header-button {
  width: 100%;
  max-width: 248px;
  background: #3C3B3D;
  border-radius: 50px;
  color: #757575;
  padding: 5px 10px;
  border: none;
  text-align: start;
  margin-left: -140px;
}

@media (max-width: 440px) {
  .header {
    position: relative;
    display: grid;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .header-button {
    margin: 15px 0 0;
    max-width: 354px;
  }
}
.section-footer {
  max-width: 1240px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.section-footer h2 {
  font-size: 18px;
  line-height: 27px;
}

.section-footer-sector-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  text-align: start;
  padding: 3rem 20px;
  border-bottom: 2px solid #cacaca;
}

.section-footer-block p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.section-footer-sector-2 {
  padding: 2rem 20px;
  display: flex;
  gap: 16px;
  font-size: 16px;
}

.section-footer-img {
  padding-right: 24px;
}

@media (max-width: 440px) {
  .dol {
    display: flex;
    flex-direction: column;
  }
}
.main-banner {
  max-width: 1240px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.main-banner h1 {
  margin: 0;
}

.main-banner h2 {
  margin-top: 0;
}

.main-block {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main-form {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}

.main-button {
  width: 100%;
  max-width: 570px;
  background: #34C176;
  border: none;
}

@media (max-width: 440px) {
  p {
    font-size: 18px;
  }
  .main-banner {
    padding: 80px 20px 0;
  }
  .main-block {
    display: flex;
    flex-direction: column;
  }
}
.section-pricing {
  max-width: 1240px;
  padding-top: 100px;
  padding-left: 50px;
  text-align: center;
}

.section-pricing-cart {
  display: flex;
  gap: 45px;
  /* justify-content: center;*/
  margin-bottom: 40px;
}

.section-pricing-cart h3 {
  margin-top: 24px;
}

.pricing-item {
  max-width: 370px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.pricing-value {
  margin-top: 200px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1em;
}

.pricing-value span {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  margin-left: 16px;
  vertical-align: text-top;
}

.pricing-footer {
  font-size: 12.7px;
  line-height: 19.2px;
  padding: 64px 0;
}

.section-pricing-cart button {
  width: 100%;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 440px) {
  h2, h3 {
    font-size: 18px;
    line-height: 27px;
  }
  .section-pricing {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-pricing-cart {
    display: flex;
    flex-direction: column;
  }
}
.section-news {
  max-width: 1240px;
  padding-top: 100px;
  padding-left: 50px;
  text-align: center;
}

.section-news h2 {
  margin-bottom: 48px;
}

.news-box {
  display: flex;
  gap: 50px;
}

.news-item {
  text-align: start;
}

.news-author {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 16px;
}

.news-author p {
  margin: 0;
}

button {
  padding: 16px 30px;
}

.news-foto-1 {
  margin-bottom: 65px;
}

.news-foto-2 {
  margin-top: 83px;
}

.news-col {
  margin-top: 0;
}

@media (max-width: 440px) {
  h2, h3 {
    font-size: 18px;
    line-height: 27px;
  }
  .section-news {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news-box {
    display: flex;
    flex-direction: column;
  }
  .news-foto-1 {
    margin: 0 auto;
    width: 100%;
  }
}
.app-section {
  max-width: 1200px;
  text-align: center;
  padding: 100px 20px;
}

.app-fone {
  display: grid;
  grid-template-columns: 50% 50%;
}

.app-fone-text {
  text-align: start;
  font-size: 16px;
}

.app-fone-text button {
  background: #95390C;
  border-radius: 32px;
  border: none;
  font-size: 12.8px;
  padding: 16px 40px;
}

@media (max-width: 440px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .app-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .app-fone {
    display: flex;
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=index.css.map */
