.main {
    padding: 200px 0; 
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
    h1 {
      margin: 0;
    }
    &-btn {
     /* display: flex;
      gap: 1.5rem;
      margin: 0;*/
    }
    &-form {  
     /* display: flex;
      align-items: center;
      gap: 16px;
      min-width: 200px;
      padding: 20px 30px;
      border: none; 
      border-radius: 5px; 
      font-size: 12.8px;
      line-height: 16.4px;
      text-transform: capitalize; */
    }
  
  }
  .main-btn {
    display: flex;
    gap: 1.5rem;
    margin: 0;
  }
  .main-form {  
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 200px;
    padding: 20px 30px;
    border: none; 
    border-radius: 5px; 
    font-size: 12.8px;
    line-height: 16.4px;
    text-transform: capitalize; 
  }
  .btn-blue {
    background: #5328A1; 
    margin: 0;
  }

  .btn-orange {
    background: #95390C;
    margin: 0; 
  }
  .icon-bt {   
    width: 20px;
    height: 20px; 
      
  }

  @media (max-width: $mobile) {
    .main {
       padding: 225px 20px;
    }
    .main-btn {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-top: 48px;
      width: 200px;
    }
     
  }


  .section-track {
    padding-top: 100px;  
 }

 .section-track-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 50px;
     
    
}

.popular-track {
    display: grid;
    grid-template-columns: 70px auto min-content;
    align-items: center;
    
 }
   
  
 .section-track img {
    width: 55px;
    height: 55px;
     
 } 
  

 .section-track h3 {
     font-size: 12.8px;
     line-height: 19.2px;
     font-weight: bold;

 }

 .section-track p {
    font-size: 12.8px;
    line-height: 19.2px;
    margin: 0;
     
 }

 @media (max-width: $mobile) {
  .section-track {
     padding: 100px 20px 0;
  }
  .section-track-box {
     display: flex;
     flex-direction: column;
   }
      
}
  
 .section-discography {
  padding-top: 100px;
 }

 .section-discography h2 {
  margin-bottom: 48px;
 }

 .discography-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px 50px;
 }

 .discography-item img {
  width: 250px;
  height: 250px;
   
} 

.discography-item p {
  font-size: 16px;
  line-height: 24px;
}
 
.discography-info h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 18px;
}

@media (max-width: $mobile) {
  .section-discography {
     padding: 100px 20px 0;
  }
  .discography-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 50px;
   }
   .discography-item img {
    width: 137px;
    height: 137px;
     
  } 
   
}

.similar-section {
  padding-top: 100px;
  margin-bottom: 100px;
 }
 .similar-section h2 {
 /* margin-bottom: 48px;*/
 }

 .similar-fone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px 50px;
 }

 .similar-item img {
  width: 250px;
  height: 250px;
   
} 

.similar-info h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 18px;
}

.similar-item p {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: $mobile) {
  .similar-section {
     padding: 100px 20px 0;
  }
  .similar-fone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 50px;
   }
   .similar-item img {
    width: 137px;
    height: 137px;
     
  } 
   
}


 
 