.section-footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%); 
}



.section-footer h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold; 
    text-transform: uppercase; 
    margin-bottom: 15px;
    & ~ div {
        font-size: 0;
    }
}


.section-footer-sector-1 { 
    padding: 62px 0 72px; 
    border-bottom: 2px solid #cacaca;
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        text-align: start;
    }

}



.section-footer-block a {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}


.section-footer-sector-2 {
    padding: 40px 0 49px;
   
    &-wrapper {
        display: flex;
        gap: 16px;
        font-size: 16px;
    }
}

.section-footer-img {
  padding-right: 24px;  
}

@media (max-width: $mobile) {
     
    .section-footer-sector-1 {
     
     padding-top: 60px; 
     &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px; 
     }     
    }
    .section-footer-sector-2 {
       
       
        &-wrapper {
            display: flex;
            flex-direction: column;
            
        }
    }
    
      
}
 