@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #cacaca;
}

body { 
    background: #08020d;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase; 
}

h2 {
   font-size: 38px;
   line-height: 57px;
   font-weight: bold;
   text-transform: uppercase; 
}

h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    text-transform: uppercase; 
    margin: 0; 
}
a {
    color: #E0E0E0;
    text-decoration: none;
}

.icon {
    width: 24px;
    height: 24px;
      
}
button {
    padding: 20px 30px;
    color: #cacaca;
    font-size: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: none;
}
@media (max-width: $mobile) {
    h1 {
        font-size: 30px;
        line-height: 45px;  
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
 