@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  width: 100 vw;
  height: 100 vh;

  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;

  background: #08020d;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;

  color: #fff;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

h3 {
  margin: 0;

  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn {
  padding: 20px 30px;

  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;

  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

@media (max-width: $mobile) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.container {
  position: relative;

  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
