.header {
    position: absolute;
    display: flex;
    align-items: center; 
    width: 100%; 
    max-width: 1200px;
    top: 25px; 
    font-size: 12.5px;
    line-height: 16.5px;
    font-weight: 400;   
    left: 50%;
    transform: translateX(-50%);

  }
  
  .header-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 74px;
  }


  .header-menu {
    display: flex;
    gap: 24px;
    margin-right: 471px;
  } 
    
  .header-button {
    width: 100%;
    max-width: 248px;
    background: #3C3B3D;
    border-radius: 50px;
    color: #757575;
    padding: 5px 10px;
    border: none;
    text-align: start;
  }

  @media (max-width: $mobile) { 
    .header {
       display: grid;
       padding: 0 20px;  
    }
    
     .header-menu {
        display: flex;
        flex-direction: column;
        gap: 0;
     }

     .header-button {
       margin: 15px 0 0;
       width: 100%;
       max-width: 365px;
        
     }
  }
