.main-banner {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
  }

  .main-banner h1 {
    margin: 0;
  }

  .main-banner h2 {
    margin-top: 0;
  }

  .main-block {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .main-form {  
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background: none; 
    font-size: 14px;
    line-height: 16.4px;
    font-weight: bold;
    color: #FFF;
    &::placeholder {
      color: #FFF;
    }
  }


  .main-banner p {
    color: #FFF;
  }
  .main-button {
    width: 100%;
    max-width: 570px; 
    background: #34C176;
    border: none;
    font-size: 13.3px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFF;

  }
  @media (max-width: $mobile) {
     .main-banner p {
      letter-spacing: -0.3px;
    }
    
    .main-banner {
       padding: 235px 20px 200px;
    }
    .main-block {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .main-form {
      margin-bottom: 1.4rem;  
    }
     
  }

  .section-pricing {
     padding-top: 100px;
     text-align: center;
     color: #FFF;
  }


  .section-pricing h2 {
    margin-top: 0;
  }


  .section-pricing-cart {
     display: flex; 
     gap: 45px;
     margin-top: 45px;
     margin-bottom: 40px;
    /* max-height: 615px;*/
  }

  .section-pricing-cart h3 {
     margin-top: 24px;
  }


  .pricing-item {
     max-width: 370px;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     border-radius: 1rem;
     text-align: center;
  }

.pricing-value {
   margin-top: 200px;
   margin-bottom: 40px;
   font-weight: 400;
   font-size: 64px;
   line-height: 1em;
   
}

.pricing-value span {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
  margin-left: 16px; 
  vertical-align: top; 
}

.pricing-footer {
  font-size: 12.8px;
  line-height: 19.2px;
  margin: 64px 0;
}

.section-pricing-cart button {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF;
}

.text {
  margin-bottom: 0;

}
 

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png"); 
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover; 
}

@media (max-width: $mobile) {
  h3 {
    font-size: 18px;
    line-height: 27px;
  }
  
  .section-pricing {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-pricing-cart {
    display: flex;
    flex-direction: column;
  }

  .section-pricing-cart h3 {
    margin-top: 16px;
 }

  .pricing-footer {
    letter-spacing: -0.3px;
  }
  

   
}

.section-news {
  padding-top: 100px;
  text-align: center;
}

.section-news h2 {
  margin-bottom: 48px;
  margin-top: 0;
}

.news-box {
  display: flex;
  gap: 50px;
}
.news-body h3 {
  text-transform: none;
}
.news-item {
  text-align: start;
}

.news-author {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 16px;
}


.news-author p {
  margin: 0;
}


.bot {
  font-size: 12.8px;
  line-height: 19.2px;
  padding: 16px 30px;
  border: 1px solid #cacaca;
}

.news-foto-1 {
  margin-bottom: 65px;
}

.news-foto-2 {
  margin-top: 83px;
  margin-bottom: 0;
}


.news-col {
  margin-top: 0;
}

.news-clr {
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #F89202;
}

.news-data {
  font-size: 12.8px;
  line-height: 150%; 
}


@media (max-width: $mobile) {
  .news-body h3 {
      font-size: 16px;
      line-height: 24px;
  }
  p {
    font-size: 15.6px;
    line-height: 24px;
  }
  .section-news {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news-box {
    display: flex;
    flex-direction: column;
  }
  .news-foto-1 {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px;
  } 
  .index {
    display: flex;
    flex-direction: column;
  }
  .index-2 {
    order: 2;
  }
  .index-3 {
    order: 3;
  } 
  .news-foto-2 {
    order: 1;
  }        
}

.app-section {
  text-align: center; 
  padding: 100px 0 0;
  margin-bottom: 100px;
}

.app-fone {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 48px;
}

.app-fone-text p {
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px;
}
 .app-fone-btn-wrapper {
  text-align: left;
 }

.app-fone-btn {
  width: 130px;
  background: #95390C;
  border-radius: 32px;
  border: none;
  font-size: 12.8px;
  padding: 16px 40px;
  color: #FFF;
  display: inline-block;  
}

@media (max-width: $mobile) {
  .app-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .app-section h2 {
    margin-bottom: 50px;
  }
  .app-fone {
    display: flex;
    flex-direction: column-reverse;
  }
  .app-fone-text p {
    letter-spacing: -0.5px;
  }    
}