.main-banner {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.main-banner h1 {
  margin: 0;
}

.main-banner h2 {
  margin-top: 0;
}

.main-block {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.main-form {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;

  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16.4px;

  background: none;
  border: 2px solid #cacaca;
  border-radius: 3px;

  &::placeholder {
    color: #fff;
  }
}

.main-banner p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.main-button {
  width: 100%;
  max-width: 570px;

  color: #fff;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;

  background: #34c176;
  border: none;
}

@media (max-width: $mobile) {
  .main-banner p {
    letter-spacing: -0.2px;
  }

  .main-banner {
    padding-top: 248px;
  }

  .main-block {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .main-form {
    margin-bottom: 24px;
  }

  .main-button {
    height: 60px;
  }
}

.section-pricing {
  padding-top: 100px;

  color: #fff;
  text-align: center;
}

.section-pricing h2 {
  margin-top: 0;
  margin-bottom: 47px;
}

.section-pricing-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 42px;
}

.section-pricing-cart h3 {
  margin-top: 24.5px;

  font-size: 24px;
  line-height: 36px;
}

.pricing-item {
  padding-right: 24px;
  padding-left: 24px;

  text-align: center;

  border-radius: 1rem;
}

.pricing-value {
  margin-top: 200px;
  margin-bottom: 41px;

  font-weight: 400;
  font-size: 64px;
  line-height: 1em;
}

.pricing-value span {
  margin-left: 16px;

  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
  vertical-align: top;
}

.pricing-footer {
  margin: 64px 0;

  font-size: 12.8px;
  line-height: 19.2px;
}

.pricing-btn {
  display: inline-block;
  width: 100%;
  height: 66px;

  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.text {
  margin-bottom: 0;

  font-size: 16px;
  line-height: 24px;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: $mobile) {
  h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .section-pricing {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-pricing-cart {
    display: flex;
    flex-direction: column;
  }

  .section-pricing-cart h3 {
    margin-top: 16px;

    font-size: 16px;
    line-height: 24px;
  }

  .bg-free {
    background-position: center;
    background-position-y: 0;
    background-size: 374px 621px;
  }

  .bg-standart {
    background-position-y: 0;
    background-size: 374px 621px;
  }

  .bg-premium {
    background-position: center;
    background-position-y: 0;
    background-size: 374px 621px;
  }

  .section-pricing h2 {
    margin-bottom: 47px;
  }
}

.section-news {
  padding-top: 100px;

  text-align: center;
}

.section-news h2 {
  margin-top: 0;
  margin-bottom: 48px;
}

.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 49px;

  text-align: start;
}

.news-body h3 {
  text-transform: none;
}

.news-body p {
  margin: 30px 0 24px;

  font-size: 16px;
  line-height: 24px;
}

.news-author {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 47px;
}

.news-author p {
  margin: 0;
}

.news-btn {
  display: inline-block;
  height: 53px;
  padding: 17px 30px;

  font-size: 12.8px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;

  border: 1px solid #cacaca;
}

.news-foto-1 {
  margin-bottom: 65px;
}

.news-foto-2 {
  margin: 0;
}

.news-col {
  margin-top: 0;
}

.news-clr {
  color: #f89202;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}

.news-author .icon {
  width: 19px;
  height: 19px;
}

.news-data {
  font-size: 12px;
  line-height: 19px;
}

.index-2 p {
  margin-bottom: 15px;
}

@media (max-width: $mobile) {
  .news-body h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .news-item p {
    margin-top: 16px;

    font-size: 16px;
    line-height: 24px;
  }

  .news-box {
    display: grid;
    gap: 64px;
  }

  .news-item {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .news-foto-1 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .index {
    display: flex;
    flex-direction: column;
  }

  .index-2 {
    order: 2;
  }

  .index-3 {
    order: 3;
  }

  .news-foto-2 {
    order: 1;
  }
}

.app-section {
  margin-bottom: 100px;
  padding-top: 100px;

  text-align: center;
}

.app-fone {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 48px;
}

.app-fone-text p {
  font-size: 16px;
  text-align: start;
}

.app-fone-btn-wrapper {
  text-align: left;
}

.app-fone-btn {
  display: inline-block;
  width: 130px;
  padding: 16px 40px;

  color: #fff;
  font-size: 12.8px;

  background: #95390c;
  border: none;
  border-radius: 32px;
}

@media (max-width: $mobile) {
  .app-section h2 {
    margin-bottom: 49px;
  }

  .app-fone {
    display: flex;
    flex-direction: column-reverse;
  }

  .app-fone-text p {
    margin-top: 9px;
  }
}
